@import url('https://fonts.googleapis.com/css?family=Comfortaa&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Forum');
@font-face {
    font-family: 'Exo';
    src: url('../fonts/Exo-Regular.ttf');
}

* {
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
    color: rgba(8, 72, 135, 1);
    margin: 0;
    padding: 0;
    border-radius: .8vw;
}

body {
    background-color: rgba(0, 126, 252, 0.1);
    background-image: url('../images/bck.png');
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1vw
}

.page {
    height: 100vh;
    position: relative;
    background: url('../images/bckp.png');
    background-size: cover;
}

.upl-btn,
input,
select,
button {
    display: block;
    padding: 0 1vw;
    line-height: 2vw;
    min-width: 8vw;
    text-align: center;
    margin: 1vw;
    min-height: 2.1vw;
    height: 2.1vw;
    color: rgba(250, 250, 255, 1);
    background-color: rgba(8, 72, 135, 1);
    border: 2px solid rgba(250, 250, 255, 1);
    cursor: pointer;
    box-sizing: border-box;
    transition: .3s ease;
    box-shadow: 0 0 5px 0px rgba(48, 52, 63, .7);
}

.upl-btn:hover,
input:hover:not(:disabled),
select:hover:not(:disabled),
button:hover:not(:disabled) {
    color: rgba(8, 72, 135, 1);
    background-color: rgba(250, 250, 255, 1);
    border-color: rgba(8, 72, 135, 1);
}

.upl-btn:active,
input:active:not(:disabled),
select:active:not(:disabled),
button:active:not(:disabled) {
    box-shadow: inset 0px 0px 3px 2px rgba(8, 72, 135, 1);
}

.upl-btn:focus,
input:focus,
select:focus,
button:focus {
    outline: none;
}

option {
    color: rgba(250, 250, 255, 1);
}

select:hover option {
    color: rgba(8, 72, 135, 1);
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.flex>* {
    margin: 1vw;
}

.col {
    flex-direction: column
}

.full {
    margin: 0 auto;
    width: 80%;
    position: relative;
}

textarea {
    border: 1px solid rgba(250, 250, 255, 1);
    resize: none;
    margin: 1vw;
    padding: 5px;
    background-color: rgba(8, 72, 135, 1);
    transition: .3s ease;
    color: rgba(250, 250, 255, 1);
    padding: 1vw .5vw;
}

textarea:hover:not(:disabled) {
    background-color: rgba(250, 250, 255, 1);
    border-color: rgba(8, 72, 135, 1);
    color: rgba(8, 72, 135, 1)
}

textarea:focus {
    outline: none
}

input {
    text-align: left;
}

.check-box label::before {
    content: "";
    position: absolute;
    top: -1.5px;
    left: -1.7vw;
    z-index: 1;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(8, 72, 135, 1);
    transition: 0.3s ease;
}

input[type="checkbox"] {
    display: none;
}

.check-box input[type="checkbox"]:checked~label::before {
    width: 21px;
    height: 10px;
    border-color: rgba(8, 72, 135, 1);
    border-top-style: none;
    border-right-style: none;
    transform: rotate(-45deg);
}

.check-box label,
.radio label {
    position: relative;
    cursor: pointer;
    right: -2vw;
    z-index: 999999;
}

.radio label::before,
.radio label::after {
    content: "";
    position: absolute;
    left: -1.5vw;
    border-radius: 50%;
}

.radio label::before {
    width: 1vw;
    height: 1vw;
    border: solid 1px rgba(8, 72, 135, 1);
}

.radio label::after {
    margin-top: .22vw;
    width: 0.7vw;
    height: 0.7vw;
    background-color: rgba(8, 72, 135, 1);
    transform: scale(0);
    transition: 0.28s transform;
    margin-left: .22vw;
}

.radio input[type="radio"] {
    display: none;
}

.radio input[type="radio"]:checked~label::after {
    transform: scale(1.1);
}

.radio,
.check-box {
    height: 2vw;
    padding: 5px;
    display: inline-block;
    width: 8vw;
}

input:disabled~label::before,
input:disabled~label {
    color: lightslategrey;
    border-color: lightslategray;
    cursor: not-allowed;
}

input:disabled,
button:disabled,
select:disabled,
textarea:disabled {
    background-color: lightslategray;
    color: rgb(250, 250, 255);
    cursor: not-allowed;
}

table img {
    position: relative;
    width: 2vw;
    height: 2vw;
    cursor: pointer;
}

table {
    border: 1px solid rgba(8, 72, 135, 1);
    border-collapse: collapse;
    text-align: center;
}

th,
td {
    border: 1px solid rgba(8, 72, 135, 1);
    padding: 0.5vw;
}

.modal {
    position: fixed;
    width: 50%;
    min-height: 60%;
    height: auto;
    max-height: 90%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    z-index: 10;
    border: .5vw solid #ec8213;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 1vw;
    display: none;
    box-shadow: 1px 1px 4px 1px rgba(48, 52, 63, .7);
}

.modal>* {
    position: absolute;
    min-height: 80vh;
    height: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

::-webkit-scrollbar {
    width: .5vw;
    height: .5vw;
}

::-webkit-scrollbar-track {
    background-color: rgba(8, 72, 135, 0.3);
    border-radius: 1vw;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(8, 72, 135, 1);
    border-radius: 1vw;
}

input[type=file] {
    display: none
}

input[type=date] {
    width: 13.5vw;
}

label.upl-btn-img {
    position: absolute;
    bottom: .5vw;
    margin: 0;
    left: .5vw;
    border: none;
    opacity: 0;
    min-width: unset;
    width: auto;
    height: auto;
    padding: unset;
    background-color: unset;
    box-shadow: unset;
}

.error {
    color: rgba(219, 84, 97, 1);
}

.avatar {
    width: 17vw;
    height: 25vw;
    border: 2px solid #ec8213;
    background: rgb(250, 250, 255) center no-repeat;
    background-size: cover;
    position: relative;
}

.profile {
    height: auto;
    width: 100%;
    position: relative;
    padding: 0 10%;
}

.profile-wall {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 53%;
    left: -1vw;
    top: 9vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.profile-name {
    position: relative;
    z-index: 1;
    justify-content: flex-end;
    height: 18vw;
    margin: 0;
}

.change-avatar {
    transition: .3s ease;
}

.avatar:hover label {
    opacity: 1;
    background-color: unset;
}

.profile-wall:hover label {
    opacity: 1;
    background-color: unset;
}

#logo {
    width: 100px;
    border-radius: unset;
    margin-right: 0;
    margin-left: 0;
}

.menu a {
    text-decoration: unset;
    margin: unset;
    height: 80px;
    overflow: hidden;
    margin-left: 2vw;
}

.menu a>div {
    margin-left: 0.7vw;
    margin-top: 1.8vw;
}

.menu a>div>* {
    margin: 0;
    line-height: 1.9vw;
}

.menu a h1 {
    font-size: 2.7vw;
}

.menu a h3 {
    font-size: 1.5vw;
    margin-left: .2vw;
}

.menu>div {
    margin-left: 20px;
}

.menu {
    width: 100%;
    height: 80px;
    background-color: rgba(8, 72, 135, 1);
    justify-content: space-between;
    position: fixed;
    z-index: 5;
    border-radius: unset;
    box-shadow: 0 1px 20px 5px rgba(48, 52, 63, .7);
    padding: 0 10%;
}

.menu * {
    color: rgba(250, 250, 255, 1);
}

#reg-form h2 {
    color: rgba(250, 250, 255, 1);
}

.orange-btn {
    background-color: #ec8213 !important;
}

.orange-btn:hover {
    background-color: rgba(250, 250, 255, 1) !important;
    color: #ec8213 !important;
    border-color: #ec8213 !important;
}

.orange-btn:active {
    background-color: #ec8213 !important;
    color: rgb(250, 250, 255) !important;
    border-color: rgb(250, 250, 255) !important;
    box-shadow: inset 0px 0px 5px 2px rgba(48, 52, 63, 1), 0 0 5px 0px rgba(48, 52, 63, .7) !important;
}

.red-btn {
    background-color: rgba(219, 84, 97, 1) !important;
}

.red-btn:hover {
    background-color: rgba(250, 250, 255, 1) !important;
    color: rgba(219, 84, 97, 1) !important;
    border-color: rgba(219, 84, 97, 1) !important;
}

.red-btn:active {
    background-color: rgba(219, 84, 97, 1) !important;
    color: rgb(250, 250, 255) !important;
    border-color: rgb(250, 250, 255) !important;
    box-shadow: inset 0px 0px 5px 2px rgba(48, 52, 63, 1), 0 0 5px 0px rgba(48, 52, 63, .7) !important;
}

.error-box {
    position: fixed;
    right: 0;
    left: 0;
    margin: 0 auto;
    bottom: 1vw;
    width: 50vw;
    height: 3vw;
    background-color: rgba(255, 128, 128, 0.9);
    color: rgba(48, 52, 63, 1);
    text-align: center;
    padding: .8vw;
    font-size: 1.2vw;
}

.btn-img {
    width: 2vw;
    cursor: pointer;
    border-radius: unset;
    opacity: 0.85;
    transition: .3s ease;
}

.btn-img:hover {
    opacity: 1;
}

.info span {
    text-shadow: none;
}

.f-info span,
.text-border {
    color: rgb(250, 250, 255);
    text-shadow: 0 -1px 0 rgba(48, 52, 63, 1), 0 1px 0 rgba(48, 52, 63, 1), -1px 0 0 rgba(48, 52, 63, 1), 1px 0 0 rgba(48, 52, 63, 1), 1px -1px 0 rgba(48, 52, 63, 1), -1px 1px 0 rgba(48, 52, 63, 1), -1px -1px 0 rgba(48, 52, 63, 1), 1px 1px 0 rgba(48, 52, 63, 1);
}

.manage li {
    list-style-type: none;
    margin: .75vw;
    position: relative;
}

input.search {
    min-width: 0 !important;
    transition: none !important;
    width: 18vw;
    display: none;
    box-shadow: unset;
}

li.find {
    margin: 0 -.5vw;
    margin-top: -.3vw;
    display: none
}

.results {
    position: fixed;
    top: 3.7vw;
    margin-left: 1vw;
    width: 18vw;
    height: auto;
    border: 2px solid #ec8213;
    background-color: rgba(250, 250, 255, 1);
    display: none;
}

.results li {
    list-style-type: none;
    cursor: pointer;
    margin: 0;
    padding: .5vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.notif-list li:hover,
.results li:hover {
    background-color: rgba(8, 72, 135, .3);
}

.notif-list {
    position: fixed;
    top: 5vw;
    margin-left: -4vw;
    width: 13vw;
    height: auto;
    border: 3px solid #ec8213;
    background-color: rgba(250, 250, 255, .9);
    display: none;
}

.notif-list li {
    width: 100%;
    color: #ec8213;
    margin: 0;
    padding: 5px;
    padding-right: 1.3vw;
    border-radius: .7vw;
}

.notif-list li>a {
    color: rgba(8, 72, 135, 1);
    cursor: pointer;
}

.badge {
    position: absolute;
    width: 1vw;
    height: 1vw;
    background-color: #ec8213;
    border-radius: 50%;
    top: -3px;
    right: -3px;
    display: none;
}

.not-if {
    display: none;
}

.read {
    top: 0;
    bottom: 0;
    margin: auto 0;
    right: .5vw;
    width: .5vw;
    height: .5vw;
    transition: .2s ease;
}

.read:hover {
    background-color: rgba(8, 72, 135, 1);
}

.results li * {
    color: #ec8213;
    display: inline-block;
}

.search-avatar {
    width: 2vw;
    height: 2vw;
    margin-right: 1vw;
}

.modal .avatar {
    width: 20%;
    height: 110%;
    position: absolute;
    z-index: 1;
    right: 0;
    left: 0;
    margin: 0 auto;
}

.modal label:not(.upl-btn) {
    height: 2.2vw;
    padding: .5vw;
}

.profile-menu {
    position: absolute;
    top: 27.3vw;
    margin-left: 20.7vw;
}

main {
    position: relative;
}

body.profile-page {
    background: url('../images/bckp.png') no-repeat fixed center;
    background-size: cover;
}

section {
    width: 76%;
    margin: 0 auto;
    height: auto;
    background-color: rgba(250, 250, 255, 0.5);
    display: none;
}

.info div {
    align-items: flex-start;
}

.friend-ava {
    width: 5vw;
    height: 5vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid #ec8213;
    margin-bottom: -.5vw;
    position: relative;
}

.badge-status {
    width: 1vw;
    height: 1vw;
    position: absolute;
    bottom: 1px;
    right: 1px;
    border: 1px solid rgba(48, 52, 63, 1);
}

.friend-block,
.album>.flex>div {
    cursor: pointer;
    transition: .2s ease;
}

.album>.flex>div:hover,
.friend-block:hover {
    background-color: rgba(8, 72, 135, 1);
}

.album-photo,
.album>.flex>* {
    width: 10vw;
    height: 10vw;
    background-size: cover;
    background-position: center;
}

.album>.flex {
    justify-content: flex-start;
    padding: 0 1.8vw;
}

.add-photo .btn-img {
    width: 5vw;
    margin-bottom: -.5vw;
}

.f-wall {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    height: 30%;
}

.f-info {
    text-align: center;
    display: none;
}

.f-del {
    display: none;
}

.f-info h3 {
    margin-bottom: 1vw;
}

.modal .flex {
    flex-wrap: nowrap;
}

.add-photo {
    padding-top: .7vw;
}

#photo-comment {
    height: 50vh;
}

#photo-comment .flex {
    min-height: 50vh;
    height: 50vh;
}

.lb-dataContainer .flex>* {
    margin: 0 1vw;
}

.btn-large {
    width: 80%;
    height: 3vw;
    text-align: center;
    font-size: 1.5vw;
}

.new-post {
    margin-bottom: 0;
}

.picture {
    width: 30vw;
    height: 15vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.messenger {
    width: 13vw;
    margin-left: -0.5vw;
    top: 5vw;
    display: none;
    position: fixed;
    height: auto;
    border: 3px solid #ec8213;
    background-color: rgba(250, 250, 255, .9);
}

.messenger li {
    cursor: pointer;
    transition: .3s ease;
    width: 100%;
    margin: 0;
    padding: 1vw;
    text-align: center;
    color: rgba(48, 52, 63, 1);
    border-radius: .75vw;
}

li.unread {
    color: #ec8213;
}

.messenger li:hover {
    background-color: rgba(8, 72, 135, .6);
    color: rgba(250, 250, 255, 1);
}

.chat-box {
    width: 24.7vw;
    position: absolute;
    top: 3.5vw;
    background-color: rgba(255, 255, 255, 0.9);
    margin-left: -.5vw;
    margin-right: 0;
    display: none;
}

.chat-box>ul>li {
    width: 100%;
}

.messages-block {
    width: 95%;
    height: 20vw;
    overflow-y: hidden;
    justify-content: flex-start;
    flex-wrap: nowrap !important;
    padding-right: 1.2vw;
    transition: overflow-y .2s ease-in;
}

.messages-block:hover {
    padding-right: 0.7vw;
    overflow-y: scroll;
}


/* .messages-block::-webkit-scrollbar {
    width: .5vw;
}

.messages-block::-webkit-scrollbar-thumb {
    background-color: rgba(8, 72, 135, 1);
    border-radius: 1vw
}

.messages-block::-webkit-scrollbar-track {
    background-color: rgba(8, 72, 135, .3);
    border-radius: 1vw
} */

li.chat-with {
    background-color: #ec8213;
    font-size: 1.3vw;
    cursor: default;
    font-weight: bold;
    margin: 0;
    padding: 1vw;
    text-align: center;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.msg-in {
    width: 75%;
    height: auto;
    text-align: left;
    margin: .5vw auto !important;
    margin-left: 0.75vw !important;
    background-color: #ec8213;
    color: rgba(48, 52, 63, 1);
    padding: 1vw;
    position: static !important;
    border-radius: 1.5vw;
    border-top-left-radius: 0;
}

.msg-out {
    position: static !important;
    width: 75%;
    height: auto;
    text-align: left;
    margin: .75vw auto !important;
    margin-right: 0.5vw !important;
    background-color: rgba(8, 72, 135, 1);
    color: rgba(250, 250, 255, 1);
    padding: 1vw;
    border-radius: 1.5vw;
    border-bottom-right-radius: 0;
}

.msg-area>* {
    margin: 0;
}

#send {
    margin-left: -.5vw;
}

.chat-box textarea {
    width: 80%;
    height: auto;
}

.feed-block {
    justify-content: space-around;
}

.post-block {
    width: 34vw;
    height: auto;
    background-color: rgba(255, 255, 255, .8);
    border: .5vw solid #ec8213;
    align-items: stretch;
}

.author-avatar {
    min-width: 4vw;
    height: 4vw;
    border: 2px solid #ec8213;
    border-radius: 50%;
    background-size: cover;
    margin-right: 0;
    margin-left: 0;
    cursor: pointer;
}

.author-name {
    color: #ec8213;
}

.post-picture {
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 20vw;
    margin: 0;
}

.post-text {
    padding: .5vw 0;
    flex-basis: 60%;
    color: rgba(48, 52, 63, 1);
    word-wrap: normal;
    white-space: pre-line;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100%;
}

h2.post-text {
    flex-basis: 20%;
}

.post-header {
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.post-footer {
    justify-content: space-between;
    height: auto;
    max-height: 7vw
}

.post-comment-input {
    flex-wrap: nowrap;
}

.post-comment-input>* {
    margin: 0;
}

.comment-input {
    width: 90%;
}

.fr-inf {
    color: #ec8213;
}

#stop {
    position: absolute;
    top: -22.8vw;
    left: 0vw;
}